<app-progress *ngIf="dataLoading"></app-progress>
<main id="main" class="main" *ngIf="action.ResponseReceived">
     <div class="row">
          <div class="pagetitle dashboard col-sm-8">
               <h1>{{action.MenuTitle}}</h1>
               <nav>
                    <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a routerLink="admin/admin-dashboard">Home</a></li>
                         <li class="breadcrumb-item">{{action.ParentMenuTitle}}</li>
                         <li class="breadcrumb-item active">{{action.MenuTitle}}</li>
                    </ol>
               </nav>
          </div>
          <div class="col-sm-4">
               <button mat-raised-button class="float-right" color="warn" *ngIf="action.CanCreate"
                    data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="resetForm()">New
                    Enquiry</button>
          </div>
     </div>

     <section class="section dashboard">
          <div class="card">
               <div class="card-body ">

                    <div class="row">

                         <mat-form-field appearance="outline" class="col-sm-3">
                              <mat-label>Destination</mat-label>
                              <input matInput #DestinationId="ngModel" name="DestinationName"
                                   (ngModelChange)="filterDestinationList($event)" placeholder="Search By Destination"
                                   [(ngModel)]="Enquiry.DestinationName" [matAutocomplete]="autoDestination" />
                              <mat-autocomplete #autoDestination="matAutocomplete"
                                   (optionSelected)="afterDestinationSelected($event)">
                                   <mat-option *ngFor="let options of DestinationList" [id]="options.DestinationId"
                                        [value]="options.DestinationName">{{ options.DestinationName }}</mat-option>
                              </mat-autocomplete>
                              <button mat-icon-button matSuffix *ngIf="Enquiry.DestinationName" color="primary"
                                   (click)="clearDestination()">
                                   <mat-icon><i class="ri-close-circle-line"></i> </mat-icon>
                              </button>

                         </mat-form-field>

                         <mat-form-field appearance="outline" class="col-sm-2">
                              <mat-label>Months</mat-label>
                              <mat-select [(ngModel)]="Enquiry.Month"
                                   (selectionChange)="getEnquiryList(Enquiry.DestinationId)">

                                   <mat-option *ngFor="let Month of MonthList" [value]="Month.Key">{{ Month.Value
                                        }}</mat-option>
                              </mat-select>
                         </mat-form-field>
                         <mat-form-field appearance="outline" class="col-sm-2">
                              <mat-label>From Date</mat-label>
                              <input matInput [(ngModel)]="Enquiry.FromDate" [matDatepicker]="fromPicker"
                                   name="FromDate">
                              <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                              <mat-datepicker #fromPicker></mat-datepicker>
                         </mat-form-field>

                         <mat-form-field appearance="outline" class="col-sm-2">
                              <mat-label>To Date</mat-label>
                              <input matInput [(ngModel)]="Enquiry.ToDate" [matDatepicker]="toPicker" name="ToDate">
                              <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                              <mat-datepicker #toPicker></mat-datepicker>
                         </mat-form-field>
                         <button mat-raised-button style="background-color:#e3e2e2"
                              (click)="getEnquiryList(Enquiry.DestinationId)" class="col-sm-1">
                              Search <mat-icon style="margin-left: 5px;">search</mat-icon>
                         </button>

                    </div>


                    <div class="dataTable-top">
                         <div class="dataTable-dropdown d-flex">
                              <select class="dataTable-selector form-select form-select-sm" [(ngModel)]="itemPerPage">
                                   <option *ngFor="let option of PageSize" [value]="option">{{option}} </option>
                              </select>
                              <span class="ms-2">Entries per page</span>
                         </div>
                         <div class="dataTable-search">
                              <input class="dataTable-input form-control form-control-sm" [(ngModel)]="Search"
                                   placeholder="Search..." type="text">
                         </div>
                    </div>
                    <div class="table-container overflow-auto">
                         <table class="table table-bordered table-hover">
                              <thead>
                                   <tr>
                                        <th>S.No</th>
                                        <th style="cursor:pointer;" (click)="sort('EnquiryCode')">Enquiry Code</th>
                                        <th>Enquiry Date</th>
                                        <th>Primary Guest</th>
                                        <!-- <th style="cursor:pointer;" (click)="sort('EnquiryName')">Enquiry Name</th> -->
                                        <th>Mobile No</th>
                                        <th>Travel Plan Date</th>
                                        <th style="cursor:pointer;" (click)="sort('Destination.DestinationName')">
                                             Destination</th>
                                        <th style="cursor:pointer;" (click)="sort('Package.PackageName')">Package</th>
                                        <th>No. of Person</th>
                                        <th>Enquired By</th>
                                        <th>Status</th>
                                        <th *ngIf="action.CanEdit">Edit</th>
                                        <th *ngIf="action.CanDelete">Delete</th>
                                   </tr>
                              </thead>
                              <tbody>
                                   <tr
                                        *ngFor="let item of EnquiryList | filter:Search | orderBy:sortKey:reverse | paginate: { itemsPerPage: itemPerPage, currentPage: p }; let i = index;">
                                        <td>{{ (itemPerPage * (p - 1)) + i + 1 }}</td>
                                        <td>{{ item.EnquiryCode }}</td>
                                        <td>{{ item.CreatedOn|date:"dd-MM-yyyy" }}</td>
                                        <td>{{ item.PrimaryGuestName }}</td>
                                        <td>{{ item.MobileNo }}</td>
                                        <td>{{ item.TravelPlanDate | date: 'dd-MM-yyyy' }}</td>
                                        <!-- <td>{{ item.EnquiryName }}</td> -->
                                        <td>{{ item.DestinationName}}</td>
                                        <td>{{ item.PackageName }}</td>
                                        <td>{{ item.NoOfPerson }}</td>
                                        <td>{{ item.StaffName }}</td>
                                        <td>
                                             <span class="p-2"
                                                  [ngClass]="item.EnquiryStatus == 1 ? 'badge text-bg-success' : 'badge text-bg-danger'">
                                                  {{ AllEnquiryStatusList[item.EnquiryStatus] }}
                                             </span>
                                        </td>

                                        <td *ngIf="action.CanEdit">
                                             <button class="btn btn-sm btn-warning" data-bs-toggle="modal"
                                                  data-bs-target="#staticBackdrop" (click)="editEnquiry(item)">
                                                  <i class="bi bi-pencil-square"></i>
                                             </button>
                                        </td>
                                        <td *ngIf="action.CanDelete">
                                             <button class="btn btn-sm btn-danger" (click)="deleteEnquiry(item)">
                                                  <i class="bi bi-trash-fill"></i>
                                             </button>
                                        </td>
                                   </tr>
                              </tbody>
                         </table>

                    </div>
                    <div class="dataTable-bottom">
                         <pagination-controls (pageChange)="onTableDataChange($event)" style="float:right;"
                              class="my-pagination"></pagination-controls>
                    </div>

               </div>
          </div>

     </section>

     <div *ngIf="action.CanEdit || action.CanCreate" class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
          data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
               <div class="modal-content">
                    <div class="modal-header">
                         <h1 class="modal-title fs-5" id="staticBackdropLabel">{{Enquiry.EnquiryId > 0 ?
                              'Update':'New'}}
                              Enquiry
                         </h1>
                         <button type=" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                              (click)="resetForm()"></button>
                    </div>
                    <div class="modal-body">
                         <form #formEnquiry="ngForm">
                              <div class="container">
                                   <div class="row">



                                        <!-- plan date -->
                                        <mat-form-field appearance="outline" class="col-sm-4 form-group">
                                             <mat-label>Travel Plan Date</mat-label>
                                             <input matInput #TravelPlanDate="ngModel" name="TravelPlanDate"
                                                  [(ngModel)]="Enquiry.TravelPlanDate" required
                                                  [matDatepicker]="TravelPlanDatePicker">
                                             <mat-datepicker-toggle matIconSuffix
                                                  [for]="TravelPlanDatePicker"></mat-datepicker-toggle>
                                             <mat-datepicker #TravelPlanDatePicker></mat-datepicker>
                                             <mat-error
                                                  *ngIf="(TravelPlanDate.dirty  || TravelPlanDate.touched) || (TravelPlanDate.invalid && isSubmitted)">
                                                  Join Date is <strong>required</strong>
                                             </mat-error>
                                        </mat-form-field>
                                        <!-- Destination -->
                                        <!-- Destination -->
                                        <mat-form-field appearance="outline" class="col-sm-4 form-group">
                                             <mat-label>Destination Name</mat-label>
                                             <mat-select #destinationRef="ngModel" name="DestinationId"
                                                  [(ngModel)]="Enquiry.DestinationId"
                                                  (selectionChange)="onDestinationChange($event.value)" required>
                                                  <mat-option *ngFor="let option of DestinationList"
                                                       [value]="option.DestinationId">
                                                       {{ option.DestinationName }}
                                                  </mat-option>
                                             </mat-select>
                                             <mat-error
                                                  *ngIf="(destinationRef.dirty || destinationRef.touched || (destinationRef.invalid && isSubmitted))">
                                                  Destination is <strong>required</strong>
                                             </mat-error>
                                        </mat-form-field>

                                        <!-- Package -->
                                        <mat-form-field appearance="outline" class="col-sm-4 form-group">
                                             <mat-label>Package Name</mat-label>
                                             <mat-select #packageRef="ngModel" name="PackageId"
                                                  [(ngModel)]="Enquiry.PackageId" required>
                                                  <mat-option *ngFor="let option of PackageList"
                                                       [value]="option.PackageId">
                                                       {{ option.PackageName }}
                                                  </mat-option>
                                             </mat-select>
                                             <mat-error
                                                  *ngIf="(packageRef.dirty || packageRef.touched || (packageRef.invalid && isSubmitted))">
                                                  Package is <strong>required</strong>
                                             </mat-error>
                                        </mat-form-field>

                                        <!-- Noofpeson  -->
                                        <mat-form-field appearance="outline" class="col-sm-4">
                                             <mat-label>No. Of Person</mat-label>
                                             <input matInput #NoOfPerson="ngModel" name="NoOfPerson" type="number"
                                                  [(ngModel)]="Enquiry.NoOfPerson" required autofocus>
                                             <mat-error
                                                  *ngIf="(NoOfPerson.dirty  || NoOfPerson.touched) || (NoOfPerson.invalid && isSubmitted)">
                                                  No of person is <strong>required</strong>
                                             </mat-error>
                                        </mat-form-field>
                                        <!-- Hotel category  -->
                                        <mat-form-field appearance="outline" class="col-sm-4 form-group">
                                             <mat-label>Hotel Category Name</mat-label>
                                             <mat-select #HotelCategoryId="ngModel" name="HotelCategoryId"
                                                  [(ngModel)]="Enquiry.HotelCategoryId">
                                                  <mat-option *ngFor="let option of HotelCategoryList"
                                                       [value]="option.HotelCategoryId">
                                                       {{ option.HotelCategoryName }}
                                                  </mat-option>
                                             </mat-select>

                                        </mat-form-field>



                                        <!-- no of room -->
                                        <mat-form-field appearance="outline" class="col-sm-4">
                                             <mat-label>No. Of Room</mat-label>
                                             <input matInput #NoOfRoom="ngModel" name="NoOfRoom" type="number"
                                                  [(ngModel)]="Enquiry.NoOfRoom" autofocus>

                                        </mat-form-field>
                                        <!-- flight option -->
                                        <!-- <div class="col-6 col-sm-2" *ngFor="let r1 of FlightOptionList">
                                             <input id="id{{r1.RoleId}}" [(ngModel)]="r1.IsSelected"
                                                  class="form-check-input me-2" type="checkbox">
                                             <label for="id{{r1.FligntId}}"
                                                  class="form-check-label text-link">{{r1.FlighOptionName}}</label>
                                        </div> -->
                                        <!-- primary guest name -->
                                        <mat-form-field appearance="outline" class="col-sm-8">
                                             <mat-label>Primary Guest Name</mat-label>
                                             <input matInput #PrimaryGuestName="ngModel" name="PrimaryGuestName"
                                                  [(ngModel)]="Enquiry.PrimaryGuestName" required autofocus>
                                             <mat-error
                                                  *ngIf="(PrimaryGuestName.dirty  || PrimaryGuestName.touched) || (PrimaryGuestName.invalid && isSubmitted)">
                                                  Primary Guest Name is <strong>required</strong>
                                             </mat-error>
                                        </mat-form-field>
                                        <!--Mobile no -->
                                        <mat-form-field appearance="outline" class="col-sm-4">
                                             <mat-label>Moblie No.</mat-label>
                                             <input matInput #MobileNo="ngModel" name="MobileNo"
                                                  [(ngModel)]="Enquiry.MobileNo" required autofocus maxlength="10">
                                             <mat-error
                                                  *ngIf="(MobileNo.dirty  || MobileNo.touched) || (MobileNo.invalid && isSubmitted)">
                                                  MobileNo is <strong>required</strong>
                                             </mat-error>
                                        </mat-form-field>
                                        <!--AmountQuoted -->

                                        <!--Remarks -->
                                        <mat-form-field appearance="outline" class="col-sm-12">
                                             <mat-label>Remarks</mat-label>
                                             <textarea matInput #Remarks="ngModel" rows="4" name="Remarks"
                                                  [(ngModel)]="Enquiry.Remarks"> </textarea>
                                        </mat-form-field>



                                   </div>

                                   <div class="row">
                                        <!-- <mat-form-field appearance="outline" class="col-sm-6">
                                             <mat-label>EnquiryStatus</mat-label>
                                             <mat-select #EnquiryStatus="ngModel" name="EnquiryStatus"
                                                  [(ngModel)]="Enquiry.EnquiryStatus" required>
                                                  <mat-option [value]="EnquiryStatus.Key"
                                                       *ngFor="let EnquiryStatus of EnquiryStatusList">{{EnquiryStatus.Value}}</mat-option>
                                             </mat-select>
                                             <mat-error
                                                  *ngIf="(EnquiryStatus.dirty  || EnquiryStatus.touched) || (EnquiryStatus.invalid && isSubmitted)">
                                                  EnquiryStatus is <strong>required</strong>
                                             </mat-error>
                                        </mat-form-field> -->
                                        <!-- MealPlan -->
                                        <mat-form-field appearance="outline" class="col-sm-4">
                                             <mat-label>Meal Plan</mat-label>
                                             <mat-select #MealPlan="ngModel" name="MealPlan"
                                                  [(ngModel)]="Enquiry.MealPlan">
                                                  <mat-option [value]="MealPlan.Key"
                                                       *ngFor="let MealPlan of MealPlanList">{{MealPlan.Value}}</mat-option>
                                             </mat-select>

                                        </mat-form-field>
                                        <!-- FlightOption -->
                                        <mat-form-field appearance="outline" class="col-sm-4">
                                             <mat-label>Flight Option</mat-label>
                                             <mat-select #FlightOption="ngModel" name="FlightOption"
                                                  [(ngModel)]="Enquiry.FlightOption" required>
                                                  <mat-option [value]="FlightOption.Key"
                                                       *ngFor="let FlightOption of FlightOptionList">{{FlightOption.Value}}</mat-option>
                                             </mat-select>
                                             <mat-error
                                                  *ngIf="(FlightOption.dirty  || FlightOption.touched) || (FlightOption.invalid && isSubmitted)">
                                                  Flight Option is <strong>required</strong>
                                             </mat-error>
                                        </mat-form-field>

                                        <!-- AmountQuoted -->
                                        <mat-form-field appearance="outline" class="col-sm-4">
                                             <mat-label>Amount Quoted</mat-label>
                                             <input matInput #AmountQuoted="ngModel" name="AmountQuoted"
                                                  [(ngModel)]="Enquiry.AmountQuoted" autofocus>

                                        </mat-form-field>

                                        <!-- enquiry status -->
                                        <mat-form-field appearance="outline" class="col-sm-4">
                                             <mat-label>Enquiry Status</mat-label>
                                             <mat-select #EnquiryStatus="ngModel" name="EnquiryStatus"
                                                  [(ngModel)]="Enquiry.EnquiryStatus" required>
                                                  <mat-option [value]="EnquiryStatus.Key"
                                                       *ngFor="let EnquiryStatus of EnquiryStatusList">{{EnquiryStatus.Value}}</mat-option>
                                             </mat-select>
                                             <mat-error
                                                  *ngIf="(EnquiryStatus.dirty  || EnquiryStatus.touched) || (EnquiryStatus.invalid && isSubmitted)">
                                                  Flight Option is <strong>required</strong>
                                             </mat-error>
                                        </mat-form-field>



                                   </div>
                              </div>
                         </form>
                    </div>
                    <div class="modal-footer">
                         <button type="button" mat-raised-button color="warn" class="me-2" data-bs-dismiss="modal"
                              (click)="resetForm()">Cancel</button>
                         <button mat-raised-button color="primary" (click)="saveEnquiry()">{{Enquiry.EnquiryId >
                              0 ? 'Update':'Submit'}}</button>
                    </div>
               </div>
          </div>
     </div>

</main>